@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: black;
    --cor-secundaria: gray;
    --cor-texto: black;
    --cor-bg: rgba(255, 255, 255, 0.850);
    --fonte-principal: "Noto Serif", sans-serif;
    --fonte-tamanho-texto: 16px;
    --fonte-tamanho-titulo: 68px;
    --fonte-tamanho-subtitulo: 38px;
    --fonte-tamanho-subtitulo-conteudo: 24px;
    --fonte-tamanho-cabecalho-rodape: 30px;
    --fonte-peso-texto: 500;
    --fonte-peso-titulo: 800;
    --fonte-peso-subtitulo: 600;
    --fonte-peso-subtitulo-conteudo: 600;
    --fonte-peso-cabecalho-rodape: 500;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    text-decoration: none;
}

body {
    color: var(--cor-principal);
    background-image: url(../assets/bgfish.png);
}

.cabecalho {
    background-color: var(--cor-bg);
    height: 3.3em;
    padding: 0.5em 0 0 10em;
}

.cabecalho__menu {
    display: flex;
    gap: 4em;
}

.cabecalho__menu__nav {
    font-size: var(--fonte-tamanho-cabecalho-rodape);
    font-weight: var(--fonte-peso-cabecalho-rodape);
    color: var(--cor-principal);
}

.cabecalho__menu__nav:hover {
    color: var(--cor-principal);
}

.nav {
    display: flex;
    justify-content: center;
    margin: 3em 20em 0 20em;
    padding: 1em;
    background-color: var(--cor-bg);
}

.nav__item {
    color: var(--cor-texto);
    font-size: var(--fonte-tamanho-subtitulo-conteudo);
    font-weight: var(--fonte-peso-subtitulo-conteudo);
    padding: 0 1.35em;
    text-align: center;
}

.nav__item:visited {
    color: var(--cor-texto);
}

.nav__item:hover {
    color: var(--cor-principal);
}

.container {
    display: flex;
}

.principal {
    align-items: center;
    flex-direction: column;
}

.secundario {
    margin: 0em 20em;
}

.titulo {
    text-align: center;
    font-size: var(--fonte-tamanho-titulo);
    font-weight: var(--fonte-peso-titulo);
}

.subtitulo {
    text-align: center;
    font-size: var(--fonte-tamanho-titulo);
    font-weight: var(--fonte-peso-titulo);
    background-color: var(--cor-bg);
    margin-top: 0.7em;
}

.container__link {
    font-size: var(--fonte-tamanho-subtitulo);
    font-weight: var(--fonte-peso-subtitulo);
    text-align: center;
    width: 10em;
    padding: 0.5em 0;
    margin: 1em;
    background-color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
    border-radius: 20px;
    color: var(--cor-principal);
}

.container__link:visited {
    color: var(--cor-principal);
}

.container__link:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

.container__conteudo {
    color: var(--cor-texto);
    height: fit-content;
}

.container__conteudo__secao {
    margin: 3em 0;
    padding: 2em 0 0.5em 0;
    background-color: var(--cor-bg);
}

.container__conteudo__titulo {
    font-size: var(--fonte-tamanho-subtitulo);
    font-weight: var(--fonte-peso-subtitulo);
    text-align: center;
}

.container__conteudo__subtitulo {
    font-size: var(--fonte-tamanho-subtitulo-conteudo);
    font-weight: var(--fonte-peso-subtitulo-conteudo);
    margin-left: 5.5em;
}

.container__conteudo__texto {
    font-size: var(--fonte-tamanho-texto);
    font-weight: var(--fonte-peso-texto);
    margin: 1.5em 6em;
    text-align: justify;
    text-indent: 2em;
}

.container__conteudo__lista {
    margin: 1.5em 7em;
}

.container__conteudo__lista__link {
    color: var(--cor-texto);
}

.container__conteudo__lista__link:hover {
    color: var(--cor-principal);
}

.container__conteudo__imagem {
    width: 50%;
    display: block;
    margin: 2.5em auto;
}

.rodape {
    margin-top: 2em;
    background-color: var(--cor-bg);
    height: 4.5em;
    text-align: center;
}

.rodape__texto {
    font-size: var(--fonte-tamanho-cabecalho-rodape);
    font-weight: var(--fonte-peso-cabecalho-rodape);
    color: var(--cor-principal);
    padding-top: 0.5em;
}

.container__imagem {
    text-align: center;
}

.container__imagem__mapajapao {
    height: 35em;
    margin-top: 3em;
}

@media (max-width: 1300px) {
    .cabecalho {
        padding: 0.5em 0 0 2em;
    }

    .cabecalho__menu {
        gap: 2em;
    }

    .nav {
        flex-direction: column;
        gap: 1.5em;
        align-items: center;
        margin: 3em auto 0 auto;
        width: 12em;
    }

    .container {
        margin: 0 3em;
    }

    .principal {
        flex-direction: column;
    }

    .secundario {
        margin: 0;
    }

    .subtitulo {
        margin-left: 1em;
        margin-right: 1em;
    }

    .container__link {
        width: 10em;
    }

    .container__conteudo {
        padding: 0 1.5em;
    }

    .container__conteudo__subtitulo {
        margin: 0 3.5em;
    }

    .container__conteudo__texto {
        margin: 0.5em 3em 2em 3em;
    }

    .container__conteudo__lista {
        margin-left: 3em;
    }

    .container__conteudo__imagem {
        width: 70%;
    }

    .container__imagem__mapajapao {
        height: 25em;
        margin-top: 3em;
    }
}